p {
  margin: 0;
}

.loanChips .ios.chip-outline.ion-activatable {
  border-radius: 7px;
}

/* .p-inputtext.p-component {
  border-radius: 30px;
  padding: 15px 20px;
} */

/* TOOLBAR STYLING */
:root {
  --ion-toolbar-background: #0478df;
  --ion-toolbar-color: white;
}

.searchbar-input.sc-ion-searchbar-ios {
  background: white;
}

.custom-toast {
  --background: #0478ff;
  --color: white;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: bold;
}
