p {
  margin: 0;
}

.loanChips .ios.chip-outline.ion-activatable {
  border-radius: 7px;
}

/* .p-inputtext.p-component {
  border-radius: 30px;
  padding: 15px 20px;
} */

/* TOOLBAR STYLING */
:root {
  --ion-toolbar-background: #0478df;
  --ion-toolbar-color: white;
}

.searchbar-input.sc-ion-searchbar-ios {
  background: white;
}

.custom-toast {
  --background: #0478ff;
  --color: white;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: bold;
}

ion-segment-button.segment-button-checked {
  color: #0478df;
  font-weight: bold;
}

ion-segment-button.segment-button-checked ion-label {
  color: #0478df;
  font-weight: bold;
}

.loan-status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem; /* equivalent to text-sm */
}

.loan-status.opened {
  color: green;
}

.loan-status.closed {
  color: red;
}

.loan-status.topup {
  color: orange;
}

.loan-status.extended {
  color: blue;
}

.loan-status.no-data {
  color: gray;
}

.p-datepicker-trigger.p-button.p-component.p-button-icon-only {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.p-dropdown-item-custom {
  display: flex;
  flex-direction: column;
}

.loan-summary-card {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.loan-summary-table .row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.loan-summary-table .row:last-child {
  border-bottom: none;
}

.loan-summary-table .label {
  font-weight: 500;
  color: #444;
  width: 60%;
}

.loan-summary-table .value {
  font-weight: 600;
  text-align: right;
  color: #000;
  width: 40%;
}

.loan-summary-table .total {
  font-size: 16px;
  font-weight: bold;
  color: #2e7d32;
  margin-top: 12px;
}

.formula-container {
  margin-top: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #3f51b5;
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 16px;
  font-size: 14px;
}

.formula-title {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.formula-text {
  font-style: italic;
  color: #555;
  margin-bottom: 8px;
}

.final-amount-label {
  font-weight: 600;
  color: #222;
  margin-top: 8px;
}

.final-amount-value {
  font-size: 16px;
  font-weight: bold;
  color: #2e7d32;
}

/* .p-datepicker.p-component {
  width: 94% !important;
} */
