p {
  margin: 0;
}

.loanChips .ios.chip-outline.ion-activatable {
  border-radius: 7px;
}

/* .p-inputtext.p-component {
  border-radius: 30px;
  padding: 15px 20px;
} */

/* TOOLBAR STYLING */
:root {
  --ion-toolbar-background: #0478df;
  --ion-toolbar-color: white;
}

.searchbar-input.sc-ion-searchbar-ios {
  background: white;
}
